<% flash_messages = [] %>
<% flash_messages << [:alert, alert] if alert.present? %>
<% flash_messages << [:notice, notice] if notice.present? %>

<% if flash_messages.any? %>
  <div class="fixed top-4 right-4 z-[100] w-[calc(100%-2rem)] max-w-sm space-y-2">
    <% flash_messages.each do |type, message| %>
      <div data-controller="flash-notice" class="opacity-100">
        <div data-flash-notice-target="flash">
          <%= render Alert::Component.new(
                title: message,
                variant: (type == :alert ? :error : :notice),
                classes: "shadow-lg"
              ) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>