<div id="<%= dom_id product %>">
  <p class="text-lg font-semibold">
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

</div>
